@font-face {
  font-family: "LogoFont";
  src: url("../public/fonts/Lilita_One/LilitaOne-Regular.ttf");
}
LogoFont {
  font-family: LogoFont;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #693ca9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  font-family: LogoFont;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SignOut-button {
  position: fixed;
  top: 20px;
  right: 20px;
}
.Info-user {
  position: absolute;
  top: 10px;
  left: 20px;
  text-align: left;
}
.Info-user h5,
.Info-user h6 {
  margin: 0;
  padding: 0;
}

.Grid-column {
  min-width: 300px;
}
.Fixed-add-plan {
  position: absolute;
  top: 100px;
  text-align: center;
}
